@import "~quill/dist/quill.core.css";

.editor-container {
    .ql-editor {
        border: 1px solid lightgrey;
        height: 350px;
    }
    .ql-video {
        max-width: 375px;
    }
    .ql-block-image {
        max-width: 375px;
        display: block;
    }
}
